<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="VIEWport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Get In Everywhere – Admissions Secrets from a Stanford Student Who Got In Everywhere</title>

{% include 'frontend.html' %}

</head>


<div class="overlay-white">
<body style="background-image: url('http://cloud.theamazingstation.com/post/image/13855319304661247.jpg');">

	{% include 'navbar.html' %}

	<div style="margin-top: 80px;">

		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<h1 style="line-height: 150%;">
						<span class="block-text title">
							Getting Into Elite Universities: Method and Mindset.
						</span>
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>
						<span class="block-text white" style="color: #C41E3A;">
							Saturday January 3, 2015
						</span>
					</h2>
				</div>
			</div>

			<div class="row">

				<div class="col-md-12">

					<!-- START BLOG POST CONTENT -->

					<!-- Header #2 -->
					<h2 class="block-text white copy bold">
						Mindset is Key in College Admissions.
					</h2>

					<h3 class="block-text white seamless">
						The most important element of success in college admissions, and arguably of life in general, is one of the least discussed. Everything that we accept as reality in our lives is viewed, processed, understood, and addressed in our minds. There are certain inescapable challenges that we have to deal with in the college admissions process (grades, standardized tests, letters of recommendation, extracurriculars etc.), but the way in which we frame the relationship between ourselves and these external factors can have an <b>astonishing effect on performance, happiness, and admissions success</b>.
					</h3>

					<!-- Quote #1 -->
					<h2 class="block-text white quote seamless">
						"The reality of man is his thought..."
					</h2>
					<h3 class="block-text white quote-author seamless">
						– ‘Abdu’l-Bahá
					</h3>

					<!-- Image #1 -->
					<h3 class="block-text white seamless">
						<img class="img-responsive center-sensitive-square" src="http://photos-a.ak.instagram.com/hphotos-ak-xap1/t51.2885-15/1389393_211147925729544_992880890_n.jpg">
					</h3>

					<!-- Header #2 -->
					<h2 class="block-text white seamless bold">
						The Growth Mindset and the Fixed Mindset.
					</h2>

					<h3 class="block-text white seamless">
						My first quarter at Stanford, I had the unique opportunity to take an introductory seminar with Dr. Carol Dweck, who is known for her groundbreaking psychology research on self theory, which is concerned with how people think about their own abilities and traits. For those of you that haven't had the chance to read it, I highly recommend picking up her paperback, <i>Mindsets</i>. It's an easy, enjoyable read that drives the concepts home harder than I can in a few sentences.
					</h3>

					<h3 class="block-text white seamless">
						Regardless, here are the Cliff's Notes...
					</h3>

					<h3 class="block-text white seamless">
						<b>The Fixed Mindset:</b> Personal characteristics are fundamentally unchangeable. You're born with a certain amount of intelligence, athleticism, or motivation, and your success or failure in life is a confirmation of your God-given abilities. Talent is everything.
					</h3>

					<h3 class="block-text white seamless">
						<b>The Growth Mindset:</b> Personal characteristics, even those that seem fundamental to a person's identity, like intelligence and athletic ability, can be greatly improved through strategically applied and diligently executed effort. Talent is only a small piece of the puzzle.
					</h3>

					<h3 class="block-text white seamless">
						<b>Summary:</b> The fixed mindset is an absolute disaster for the aspiring college applicant. It causes risk aversion, self-delusion, and narcissism. On top of that, when the fixed mindset leads to being rejected from dream schools (which it very often does), people typically feel that their entire identity is destroyed. They didn't get into Stanford because they don't have what it takes to be successful. They didn't get into Princeton because they're not smart enough. Some of the most successful people I know went to unknown schools or dropped out – trust me when I say that where you go to college doesn't instantaneously determine the kind of life you'll have.
					</h3>

					<h3 class="block-text white seamless">
						Focusing on improvement and growth is not only a more effective strategy to get into the college of your dreams, it's also a surefire way to live a happier and more fulfilling life.
					</h3>

					<!-- Image #2 -->
					<h3 class="block-text white seamless">
						<img class="img-responsive center-sensitive-square" src="http://photos-f.ak.instagram.com/hphotos-ak-xap1/t51.2885-15/10358251_1441319116119149_797234747_n.jpg">
					</h3>

					<!-- Header #3 -->
					<h2 class="block-text white seamless bold">
						My Growth Mindset Story.
					</h2>

					<h3 class="block-text white seamless">
						Although I only began to formally investigate the growth mindset as an eighteen-year-old college freshman, my journey with it has been a long one. From a young age, my father began to engender a process-oriented mindset in me. I still hear his voice saying "it's not how you start, it's how you finish," which, while certainly an imperfect expression of the growth mindset, at least hints towards effort and improvement being more important than identity-defining end results.
					</h3>

					<h3 class="block-text white seamless">
						At the start of high school, I struggled with mathematics. I was in the second highest math track my school had to offer, which started with advanced algebra and culminated in AP Calculus AB. I'd done fine in middle school, but, for whatever reason, I wasn't truly confident in my mathematical abilities. It didn't come to me as quickly as other subjects, but after a conversation with my father, I decided that I was going to do my best to do well in math, even though I wasn't super talented at it naturally.
					</h3>

					<h3 class="block-text white seamless">
						I allocated more time to work on math, and I even reached out to others for help – I got someone far better at it than I was to help tutor me once a week. After a while, I realized I didn't need a tutor, but seeing how he approached the problems with an attitude along the lines of "hey, this is kind of interesting" rather than "man, I'll look like an idiot if I can't figure this out" was gamechanging for me. When I stopped judging myself and dropped the notion that I had to solve a problem quickly or else I couldn't figure it out, my mathematical skills began to improve. Through hours of studying, and continual iteration on the process and attitude I was bringing to the table, I ended up getting straight As in math throughout high school...but it's key to remember that the letter grade result isn't all-important. Even if I had dropped a few mediocre grades, I had still greatly improved my confidence in the subject.
					</h3>

					<!-- Image #3 -->
					<h3 class="block-text white seamless">
						<img class="img-responsive center-sensitive-square" src="http://distilleryimage6.ak.instagram.com/ad8968663fef11e2851922000a9e084f_7.jpg">
					</h3>

					<h3 class="block-text white seamless">
						As an engineering major at Stanford, math has become a significant part of my life. I've managed to get through some pretty difficult math classes at Stanford. The process hasn't been without its challenges, but I've done pretty well in the bigger picture, largely due to my reliance on the growth mindset. The example of math in my life is one of many – I could build this into several blog posts if I had more time.
					</h3>

					<!-- Header #4 -->
					<h2 class="block-text white seamless bold">
						How Does this Help Me Get Into my Dream School?
					</h2>

					<h3 class="block-text white seamless">
						My goal in writing this post is that it will liberate one or more people from the complete fallacy that getting into Stanford, Harvard, Yale, Princeton, or any of the great schools, immediately confirms that you're a brilliant person on the fast track to success. It's a completely false narrative.
					</h3>

					<h3 class="block-text white seamless">
						The main actionable takeaway is this: develop a growth mindset. Set goals you're passionate about. And once you set them, strive to achieve them because you <i>want</i> to work hard for something great, because you <i>want</i> to get better. Don't do everything in your life just to get into a good college. People like that are unhappy and cookie-cutter, and sad, generic people have a tougher time getting into good colleges, regardless of how impressive their credentials may look. It sounds like a harsh thing to say, but it's true.
					</h3>

					<h3 class="block-text white seamless">
						Having said that, <b>the pragmatic way to get into elite colleges is actually quite simple</b>: 1. Get excellent grades and test scores. 2. Follow things outside of school without thinking about whether or not they'll help you get into college. Get really good at them little by little, and strive make an impact. 3. Build meaningful relationships with teachers and peers – not just for the sake of recommendations and popularity. 4. Be sincere, be yourself, and be a balanced person. If being yourself means being a really unbalanced person, work to improve yourself. We all need to.
					</h3>

					<!-- Bookend -->
					<div style="height: 100px; background-color: #1B1B1B">
					</div>

				</div>

			</div>

			<!-- END BLOG POST CONTENT -->


		</div>

	</div>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<script>
	$('.chevron_toggleable').on('click', function() {
		$('#customdd').toggleClass('glyphicon-chevron-up glyphicon-chevron-down ');
	});
	</script>

</body>
</div>

</html>